# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.vscode
app/src/main/java/UCNDiscordBot/APIS/GetAPIKey.java
app/bin/main/UCNDiscordBot/APIS/GetAPIKey.class